@model VinfastWeb.ViewModels.UserProfileViewModel

<h2>Edit Profile</h2>

<form method="post">

    <input asp-for="FullName" />

    <input asp-for="Email" />

    <input asp-for="Phone" />

    <button type="submit">
        Save
    </button>

</form>